body{
  background-image: url(vidroArt1.png);
    background-size: cover;
    background-repeat: no-repeat;
    
   
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
}
#form-produto{
    background: #fff;
    padding: 30px 40px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    width: 100%;
    max-width: 400px;
    margin: auto;
    display: none;
}
input{
    width: 100%;
  padding: 12px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
  background: none;
}
.adicionar{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 50px;
}
.nada{
  width: auto;
  height: 80px;
}
.textoadc{
  color: #fff;
  text-shadow: 1px 1px  #000;
}
.adc{
    background-color: #ff5757;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
p{
    font-size: 35px;
    color: #fbf7f7;
    font-weight: 800;
    margin-top: -2px;
    flex-grow: 1;
}
h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #141415;
  text-align: center;
  padding: 10px;
}
h3{
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
}
h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
  }
  button {
    background: #ff5757;
    color: white;
    border: none;
    padding: 12px;
    width: 80px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
  }
  tbody{
    background-color: #f9fafb91;

  }
  th {
    background-color: #1145d3fa;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #598ceacc;
  }
  
  tr:nth-child(even) {
    background-color: #588bf1c1;
  }

  .mais {
    width: 40px;
    height: 30px;
    color: #141415;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.119);
    background-color: rgba(0, 0, 0, 0.043) !important;
    text-align: center;
  }
  .sair1{
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0px;
    padding-top: 2px;
  }
  .menos {
    width: 40px;
    height: 30px;
    color: #141415;
    font-size: 30px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.119);
    background-color: rgba(0, 0, 0, 0.043) !important;
    margin: auto;
  }
  .mais:hover {
    box-shadow: 2px 2px  rgba(0, 0, 0, 0.348);
    background-color: #f0f0f0;
  }
  .menos:hover {
    box-shadow: 2px 2px  rgba(0, 0, 0, 0.348);
    background-color: #f0f0f0;
  }
 
  